In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import statsmodels.api as sm

# read data

In [12]:
co=pd.read_csv('owid-co2-data.csv')
temp=pd.read_csv('city_temperature.csv')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [13]:
co.head()

,iso_code,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,...,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
0,AFG,Afghanistan,1949,0.015,0.002,NaN,NaN,NaN,0.015,0.002,...,NaN,NaN,NaN,NaN,NaN,7624058.0,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1950,0.084,0.011,NaN,NaN,NaN,0.021,0.003,...,NaN,NaN,NaN,NaN,NaN,7752117.0,9.421400e+09,NaN,NaN,NaN
2,AFG,Afghanistan,1951,0.092,0.012,NaN,NaN,NaN,0.026,0.003,...,NaN,NaN,NaN,NaN,NaN,7840151.0,9.692280e+09,NaN,NaN,NaN
3,AFG,Afghanistan,1952,0.092,0.012,NaN,NaN,NaN,0.032,0.004,...,NaN,NaN,NaN,NaN,NaN,7935996.0,1.001733e+10,NaN,NaN,NaN
4,AFG,Afghanistan,1953,0.106,0.013,NaN,NaN,NaN,0.038,0.005,...,NaN,NaN,NaN,NaN,NaN,8039684.0,1.063052e+10,NaN,NaN,NaN

In [14]:
temp.head()

   Region  Country State     City  Month  Day  Year  AvgTemperature
0  Africa  Algeria   NaN  Algiers      1    1  1995            64.2
1  Africa  Algeria   NaN  Algiers      1    2  1995            49.4
2  Africa  Algeria   NaN  Algiers      1    3  1995            48.8
3  Africa  Algeria   NaN  Algiers      1    4  1995            46.4
4  Africa  Algeria   NaN  Algiers      1    5  1995            47.9

# merge dataset

In [15]:
temp.columns=temp.columns.map(lambda x: x.lower())

In [16]:
df=pd.merge(co,temp,on=['country','year'])

In [17]:
df.head()

,iso_code,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,...,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp,region,state,city,month,day,avgtemperature
0,ALB,Albania,1995,2.066,0.664,0.407,0.081,0.026,0.161,0.052,...,1.160073e+10,22.728,7301.038,1.959,Europe,NaN,Tirana,1,1,-99.0
1,ALB,Albania,1995,2.066,0.664,0.407,0.081,0.026,0.161,0.052,...,1.160073e+10,22.728,7301.038,1.959,Europe,NaN,Tirana,1,2,-99.0
2,ALB,Albania,1995,2.066,0.664,0.407,0.081,0.026,0.161,0.052,...,1.160073e+10,22.728,7301.038,1.959,Europe,NaN,Tirana,1,3,-99.0
3,ALB,Albania,1995,2.066,0.664,0.407,0.081,0.026,0.161,0.052,...,1.160073e+10,22.728,7301.038,1.959,Europe,NaN,Tirana,1,4,-99.0
4,ALB,Albania,1995,2.066,0.664,0.407,0.081,0.026,0.161,0.052,...,1.160073e+10,22.728,7301.038,1.959,Europe,NaN,Tirana,1,5,-99.0

# variable correlation

In [23]:
corr=df.corr()
corr

,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,flaring_co2,flaring_co2_per_capita,...,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp,month,day,avgtemperature
year,1.000000,0.092439,-0.033174,-0.059628,0.103644,0.056025,0.093235,-0.024886,0.008174,-0.046229,...,0.047325,-0.044972,0.043627,0.150191,0.100346,-0.007588,-0.240850,-0.026811,-0.002546,0.148089
co2,0.092439,1.000000,0.036697,-0.892557,0.984495,0.259536,0.991489,0.252301,0.202175,-0.112847,...,0.907433,-0.074403,0.814027,0.954167,0.993038,-0.021848,0.087644,-0.001859,-0.000157,0.019823
co2_per_capita,-0.033174,0.036697,1.000000,0.037417,-0.033335,0.565318,-0.000958,0.700631,0.128303,0.467967,...,-0.034486,0.221396,-0.124561,0.029709,0.072779,0.900855,0.468491,0.000761,0.000124,0.038342
trade_co2,-0.059628,-0.892557,0.037417,1.000000,-0.909441,-0.201502,-0.921662,-0.194653,-0.307747,-0.141926,...,-0.829281,0.047885,-0.736964,-0.752028,-0.860528,0.098558,-0.168301,-0.000518,-0.000046,-0.046379
cement_co2,0.103644,0.984495,-0.033335,-0.909441,1.000000,0.267536,0.993608,0.186397,-0.034628,-0.172200,...,0.886733,-0.094490,0.785571,0.914076,0.966718,-0.081878,0.052564,-0.002241,-0.000218,0.028788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
energy_per_capita,-0.007588,-0.021848,0.900855,0.098558,-0.081878,0.530484,-0.080273,0.392714,0.125392,0.403801,...,-0.091098,0.187972,-0.167601,-0.023057,0.026957,1.000000,0.500393,-0.002853,-0.000233,0.029541
energy_per_gdp,-0.240850,0.087644,0.468491,-0.168301,0.052564,0.145265,0.099037,0.270475,0.204336,0.226250,...,0.031774,0.043905,-0.002200,0.016975,0.106516,0.500393,1.000000,-0.000335,-0.000034,-0.001384
month,-0.026811,-0.001859,0.000761,-0.000518,-0.002241,-0.001338,-0.001520,0.000697,-0.002409,0.000403,...,0.000287,-0.000074,-0.000704,-0.000092,-0.004181,-0.002853,-0.000335,1.000000,0.011306,0.034655
day,-0.002546,-0.000157,0.000124,-0.000046,-0.000218,-0.000107,-0.000135,0.000105,-0.000180,0.000047,...,0.000048,-0.000014,-0.000067,0.000043,-0.000372,-0.000233,-0.000034,0.011306,1.000000,-0.002044
avgtemperature,0.148089,0.019823,0.038342,-0.046379,0.028788,0.087294,0.034107,-0.068861,-0.032774,0.027773,...,0.057626,-0.001798,0.076226,0.031725,0.013869,0.029541,-0.001384,0.034655,-0.002044,1.000000

# data cleaning

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1374972 entries, 0 to 1374971
Data columns (total 66 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   iso_code                             1374972 non-null  object
 1   country                              1374972 non-null  object
 2   year                                 1374972 non-null  int64
 3   co2                                  1374972 non-null  float64
 4   co2_per_capita                       1374972 non-null  float64
 5   trade_co2                            1151824 non-null  float64
 6   cement_co2                           1265433 non-null  float64
 7   cement_co2_per_capita                1265433 non-null  float64
 8   coal_co2                             1114413 non-null  float64
 9   coal_co2_per_capita                  1114413 non-null  float64
 10  flaring_co2                          785990 non-null   float64
 11  flaring_co2_per_capita               785990 non-null   float64
 12  gas_co2                              1105443 non-null  float64
 13  gas_co2_per_capita                   1105443 non-null  float64
 14  oil_co2                              1374972 non-null  float64
 15  oil_co2_per_capita                   1374972 non-null  float64
 16  other_industry_co2                   605655 non-null   float64
 17  other_co2_per_capita                 605655 non-null   float64
 18  co2_growth_prct                      1374972 non-null  float64
 19  co2_growth_abs                       1374972 non-null  float64
 20  co2_per_gdp                          1272585 non-null  float64
 21  co2_per_unit_energy                  1369244 non-null  float64
 22  consumption_co2                      1151824 non-null  float64
 23  consumption_co2_per_capita           1151824 non-null  float64
 24  consumption_co2_per_gdp              1110457 non-null  float64
 25  cumulative_co2                       1374972 non-null  float64
 26  cumulative_cement_co2                1265433 non-null  float64
 27  cumulative_coal_co2                  1114413 non-null  float64
 28  cumulative_flaring_co2               785990 non-null   float64
 29  cumulative_gas_co2                   1105443 non-null  float64
 30  cumulative_oil_co2                   1374972 non-null  float64
 31  cumulative_other_co2                 605655 non-null   float64
 32  trade_co2_share                      1151824 non-null  float64
 33  share_global_co2                     1374972 non-null  float64
 34  share_global_cement_co2              1265433 non-null  float64
 35  share_global_coal_co2                1114413 non-null  float64
 36  share_global_flaring_co2             785990 non-null   float64
 37  share_global_gas_co2                 1105443 non-null  float64
 38  share_global_oil_co2                 1374972 non-null  float64
 39  share_global_other_co2               605655 non-null   float64
 40  share_global_cumulative_co2          1374972 non-null  float64
 41  share_global_cumulative_cement_co2   1265433 non-null  float64
 42  share_global_cumulative_coal_co2     1114413 non-null  float64
 43  share_global_cumulative_flaring_co2  785990 non-null   float64
 44  share_global_cumulative_gas_co2      1105443 non-null  float64
 45  share_global_cumulative_oil_co2      1374972 non-null  float64
 46  share_global_cumulative_other_co2    605655 non-null   float64
 47  total_ghg                            1286417 non-null  float64
 48  ghg_per_capita                       1286417 non-null  float64
 49  total_ghg_excluding_lucf             1286417 non-null  float64
 50  ghg_excluding_lucf_per_capita        1286417 non-null  float64
 51  methane                              1286417 non-null  float64
 52  methane_per_capita                   1286417 non-null  float64
 53  nitrous_oxide                        1286417 non-null  float64
 54  nitrous_oxide_per_capita             1286417 non-null  float64
 55  population                           1374972 non-null  float64
 56  gdp                                  1272585 non-null  float64
 57  primary_energy_consumption           1369244 non-null  float64
 58  energy_per_capita                    1369244 non-null  float64
 59  energy_per_gdp                       1272585 non-null  float64
 60  region                               1374972 non-null  object
 61  state                                0 non-null        object
 62  city                                 1374972 non-null  object
 63  month                                1374972 non-null  int64
 64  day                                  1374972 non-null  int64
 65  avgtemperature                       1374972 non-null  float64
dtypes: float64(58), int64(3), object(5)
memory usage: 702.8+ MB

In [33]:
df.drop_duplicates()

,iso_code,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,...,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp,region,state,city,month,day,avgtemperature
0,ALB,Albania,1995,2.066,0.664,0.407,0.081,0.026,0.161,0.052,...,1.160073e+10,22.728,7301.038,1.959,Europe,NaN,Tirana,1,1,-99.0
1,ALB,Albania,1995,2.066,0.664,0.407,0.081,0.026,0.161,0.052,...,1.160073e+10,22.728,7301.038,1.959,Europe,NaN,Tirana,1,2,-99.0
2,ALB,Albania,1995,2.066,0.664,0.407,0.081,0.026,0.161,0.052,...,1.160073e+10,22.728,7301.038,1.959,Europe,NaN,Tirana,1,3,-99.0
3,ALB,Albania,1995,2.066,0.664,0.407,0.081,0.026,0.161,0.052,...,1.160073e+10,22.728,7301.038,1.959,Europe,NaN,Tirana,1,4,-99.0
4,ALB,Albania,1995,2.066,0.664,0.407,0.081,0.026,0.161,0.052,...,1.160073e+10,22.728,7301.038,1.959,Europe,NaN,Tirana,1,5,-99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1374967,ZMB,Zambia,2014,4.877,0.317,4.113,0.736,0.048,0.484,0.031,...,5.341918e+10,52.303,3396.329,0.979,Africa,NaN,Lusaka,1,18,71.3
1374968,ZMB,Zambia,2014,4.877,0.317,4.113,0.736,0.048,0.484,0.031,...,5.341918e+10,52.303,3396.329,0.979,Africa,NaN,Lusaka,1,19,77.5
1374969,ZMB,Zambia,2014,4.877,0.317,4.113,0.736,0.048,0.484,0.031,...,5.341918e+10,52.303,3396.329,0.979,Africa,NaN,Lusaka,1,20,73.4
1374970,ZMB,Zambia,2014,4.877,0.317,4.113,0.736,0.048,0.484,0.031,...,5.341918e+10,52.303,3396.329,0.979,Africa,NaN,Lusaka,1,21,73.1
1374971,ZMB,Zambia,2014,4.877,0.317,4.113,0.736,0.048,0.484,0.031,...,5.341918e+10,52.303,3396.329,0.979,Africa,NaN,Lusaka,1,22,71.3

# model

### 1. Simple linear regression explores the relationship between average temperature and co2

In [18]:
fit1=sm.formula.ols('avgtemperature~co2',data=df).fit()
print(fit1.params)

Intercept    55.524510
co2           0.000596
dtype: float64

In [21]:
print(fit1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         avgtemperature   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     540.5
Date:                Sun, 13 Nov 2022   Prob (F-statistic):          1.53e-119
Time:                        17:05:30   Log-Likelihood:            -7.0454e+06
No. Observations:             1374972   AIC:                         1.409e+07
Df Residuals:                 1374970   BIC:                         1.409e+07
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     55.5245      0.037   1514.538      0.000      55.453      55.596
co2            0.0006   2.56e-05     23.249      0.000       0.001       0.001
==============================================================================
Omnibus:                   798528.694   Durbin-Watson:                   0.454
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          5667671.373
Skew:                          -2.842   Prob(JB):                         0.00
Kurtosis:                      11.162   Cond. No.                     1.51e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.51e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

From the summary above, it can be observed that p-value is 0.000, which means that Co2 emissions have significant effect on average temperature. Moreover, the slop of Co2 is 0.000596, which means that the relationship between Co2 emissions and average temperature is positive.

### 2. Multiple linear regression to explore whether different areas of the planet are affected differently by emission increase

In [25]:
fit2=sm.formula.ols('avgtemperature~co2+country+co2*country',data=df).fit()
print(fit2.params)

Intercept                   -127.571154
country[T.Algeria]           192.573417
country[T.Argentina]         186.901289
country[T.Australia]         176.588410
country[T.Austria]           177.191710
                                ...
co2:country[T.Uruguay]       -40.605397
co2:country[T.Uzbekistan]    -41.077033
co2:country[T.Venezuela]     -41.035198
co2:country[T.Vietnam]       -41.079637
co2:country[T.Zambia]        -41.778164
Length: 232, dtype: float64

In [27]:
print(fit2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         avgtemperature   R-squared:                       0.303
Model:                            OLS   Adj. R-squared:                  0.303
Method:                 Least Squares   F-statistic:                     2590.
Date:                Sun, 13 Nov 2022   Prob (F-statistic):               0.00
Time:                        17:27:49   Log-Likelihood:            -6.7973e+06
No. Observations:             1374972   AIC:                         1.360e+07
Df Residuals:                 1374740   BIC:                         1.360e+07
Df Model:                         231
Covariance Type:            nonrobust
===========================================================================================================
                                              coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------
Intercept                                -127.5712      1.306    -97.658      0.000    -130.131    -125.011
country[T.Algeria]                        192.5734      2.072     92.959      0.000     188.513     196.634
country[T.Argentina]                      186.9013      2.798     66.802      0.000     181.418     192.385
country[T.Australia]                      176.5884      2.288     77.174      0.000     172.104     181.073
country[T.Austria]                        177.1917      5.731     30.920      0.000     165.960     188.424
country[T.Bahamas]                        200.3073      3.012     66.499      0.000     194.404     206.211
country[T.Bahrain]                        207.4932      1.828    113.481      0.000     203.909     211.077
country[T.Bangladesh]                     114.2762      2.048     55.795      0.000     110.262     118.291
country[T.Barbados]                       196.7592      2.578     76.316      0.000     191.706     201.812
country[T.Belarus]                        181.2585      6.947     26.090      0.000     167.642     194.875
country[T.Belgium]                        177.1504      3.499     50.626      0.000     170.292     184.009
country[T.Belize]                         173.6040      2.204     78.771      0.000     169.284     177.924
country[T.Benin]                          195.5919      1.499    130.499      0.000     192.654     198.529
country[T.Bermuda]                        176.1304      4.203     41.902      0.000     167.892     184.369
country[T.Bolivia]                        171.9054      1.673    102.777      0.000     168.627     175.184
country[T.Brazil]                         190.7738      1.658    115.091      0.000     187.525     194.023
country[T.Bulgaria]                       294.4811      3.911     75.289      0.000     286.815     302.147
country[T.Burundi]                         27.8736      3.342      8.342      0.000      21.324      34.423
country[T.Canada]                         170.3172      2.954     57.663      0.000     164.528     176.106
country[T.Central African Republic]       216.9396      2.564     84.599      0.000     211.914     221.966
country[T.China]                          187.4117      1.372    136.570      0.000     184.722     190.101
country[T.Colombia]                       178.7948      2.280     78.427      0.000     174.327     183.263
country[T.Congo]                          188.5237      1.473    127.995      0.000     185.637     191.411
country[T.Costa Rica]                     181.5119      2.430     74.690      0.000     176.749     186.275
country[T.Croatia]                         95.9821      3.307     29.020      0.000      89.500     102.465
country[T.Cuba]                           189.2753      3.589     52.740      0.000     182.241     196.309
country[T.Cyprus]                          98.5977      4.101     24.044      0.000      90.560     106.635
country[T.Denmark]                        176.1873      2.047     86.082      0.000     172.176     180.199
country[T.Dominican Republic]             121.2833      2.751     44.088      0.000     115.892     126.675
country[T.Egypt]                          197.2884      1.889    104.443      0.000     193.586     200.991
country[T.Ethiopia]                       129.3957      1.477     87.634      0.000     126.502     132.290
country[T.Finland]                        171.0235      2.706     63.195      0.000     165.719     176.328
country[T.France]                         177.2834      2.962     59.857      0.000     171.478     183.088
country[T.Gabon]                          202.5826      4.904     41.313      0.000     192.972     212.194
country[T.Gambia]                         149.5910      1.823     82.058      0.000     146.018     153.164
country[T.Georgia]                        265.3567      2.785     95.280      0.000     259.898     270.815
country[T.Germany]                        444.2934      3.355    132.437      0.000     437.718     450.869
country[T.Greece]                         111.3066      5.210     21.364      0.000     101.095     121.518
country[T.Guatemala]                      146.1832      1.786     81.872      0.000     142.684     149.683
country[T.Guinea]                         126.0045      1.712     73.611      0.000     122.650     129.359
country[T.Guinea-Bissau]                 -164.2106      2.120    -77.470      0.000    -168.365    -160.056
country[T.Guyana]                         152.0841      6.612     23.002      0.000     139.125     165.043
country[T.Haiti]                           43.2615      1.699     25.467      0.000      39.932      46.591
country[T.Honduras]                       192.7180      1.835    105.027      0.000     189.122     196.314
country[T.Hong Kong]                      199.9331      3.562     56.136      0.000     192.953     206.914
country[T.Hungary]                        184.6274      3.310     55.779      0.000     178.140     191.115
country[T.Iceland]                        164.7754      3.137     52.522      0.000     158.626     170.924
country[T.India]                          206.6374      1.392    148.487      0.000     203.910     209.365
country[T.Indonesia]                       50.4417      1.749     28.835      0.000      47.013      53.870
country[T.Ireland]                        173.7480      3.761     46.202      0.000     166.377     181.119
country[T.Israel]                          18.8635      7.194      2.622      0.009       4.764      32.963
country[T.Italy]                          186.1817      2.318     80.333      0.000     181.639     190.724
country[T.Japan]                          171.3049      4.672     36.669      0.000     162.149     180.461
country[T.Jordan]                         190.9948      2.121     90.034      0.000     186.837     195.153
country[T.Kazakhstan]                     175.2073      1.925     91.036      0.000     171.435     178.979
country[T.Kenya]                          106.7007      1.807     59.036      0.000     103.158     110.243
country[T.Kuwait]                         208.2859      2.047    101.738      0.000     204.273     212.299
country[T.Kyrgyzstan]                     177.4248      1.796     98.808      0.000     173.905     180.944
country[T.Laos]                           207.5708      1.374    151.103      0.000     204.878     210.263
country[T.Latvia]                         185.1095      4.766     38.838      0.000     175.768     194.451
country[T.Lebanon]                        196.6681      1.986     99.036      0.000     192.776     200.560
country[T.Madagascar]                     189.3697      1.616    117.151      0.000     186.202     192.538
country[T.Malawi]                        -196.2713      4.463    -43.975      0.000    -205.019    -187.524
country[T.Malaysia]                       193.6798      1.821    106.352      0.000     190.110     197.249
country[T.Mauritania]                     199.6115      1.657    120.461      0.000     196.364     202.859
country[T.Mexico]                         111.9570      2.300     48.679      0.000     107.449     116.465
country[T.Mongolia]                       158.2954      1.402    112.918      0.000     155.548     161.043
country[T.Morocco]                        192.4387      1.932     99.609      0.000     188.652     196.225
country[T.Mozambique]                     186.1246      1.432    130.012      0.000     183.319     188.930
country[T.Namibia]                        172.8909      1.713    100.930      0.000     169.533     176.248
country[T.Nepal]                          164.5087      1.432    114.907      0.000     161.703     167.315
country[T.New Zealand]                    189.8724      4.898     38.762      0.000     180.272     199.473
country[T.Nicaragua]                      103.4190      2.388     43.305      0.000      98.738     108.100
country[T.Nigeria]                        173.4144      1.611    107.659      0.000     170.257     176.571
country[T.North Korea]                    181.2118      1.638    110.658      0.000     178.002     184.421
country[T.Norway]                         154.9071      9.530     16.255      0.000     136.229     173.585
country[T.Oman]                            56.6758      1.571     36.072      0.000      53.596      59.755
country[T.Pakistan]                       205.7666      1.560    131.934      0.000     202.710     208.823
country[T.Panama]                         208.1752      1.775    117.289      0.000     204.696     211.654
country[T.Peru]                           192.3585      1.900    101.250      0.000     188.635     196.082
country[T.Philippines]                    208.5786      1.810    115.236      0.000     205.031     212.126
country[T.Poland]                         185.7830      6.854     27.108      0.000     172.350     199.216
country[T.Portugal]                       185.1909      3.032     61.074      0.000     179.248     191.134
country[T.Qatar]                          209.0263      1.598    130.797      0.000     205.894     212.158
country[T.Romania]                        183.6714      2.500     73.462      0.000     178.771     188.572
country[T.Russia]                         211.1000      6.717     31.429      0.000     197.935     224.265
country[T.Saudi Arabia]                   207.7859      1.517    137.016      0.000     204.814     210.758
country[T.Senegal]                        203.7721      1.589    128.206      0.000     200.657     206.887
country[T.Sierra Leone]                    -9.9802      1.882     -5.304      0.000     -13.668      -6.292
country[T.Singapore]                      208.8600      2.107     99.113      0.000     204.730     212.990
country[T.Slovakia]                       183.6890      3.911     46.972      0.000     176.024     191.354
country[T.South Africa]                   186.1843      3.569     52.173      0.000     179.190     193.179
country[T.South Korea]                    179.4094      2.448     73.287      0.000     174.611     184.207
country[T.Spain]                          186.1029      2.024     91.954      0.000     182.136     190.070
country[T.Sri Lanka]                      185.7313      1.651    112.496      0.000     182.495     188.967
country[T.Suriname]                        42.4659      2.425     17.509      0.000      37.712      47.219
country[T.Sweden]                         173.3110      3.097     55.963      0.000     167.241     179.381
country[T.Switzerland]                    176.5322      3.186     55.407      0.000     170.288     182.777
country[T.Syria]                          187.3345      1.935     96.802      0.000     183.542     191.127
country[T.Taiwan]                         166.3622      2.882     57.719      0.000     160.713     172.011
country[T.Tajikistan]                     140.0844      1.476     94.899      0.000     137.191     142.978
country[T.Tanzania]                       173.9206      1.510    115.172      0.000     170.961     176.880
country[T.Thailand]                       102.3683      3.024     33.851      0.000      96.441     108.295
country[T.Togo]                           168.3059      1.858     90.571      0.000     164.664     171.948
country[T.Tunisia]                        194.6538      2.307     84.372      0.000     190.132     199.176
country[T.Turkey]                         180.6407      1.649    109.567      0.000     177.409     183.872
country[T.Turkmenistan]                   183.6308      1.855     98.977      0.000     179.994     187.267
country[T.Uganda]                         136.7565      1.502     91.043      0.000     133.812     139.701
country[T.Ukraine]                        177.9047      2.747     64.759      0.000     172.520     183.289
country[T.United Arab Emirates]           208.1891      1.509    137.941      0.000     205.231     211.147
country[T.United Kingdom]                 176.7405      2.172     81.357      0.000     172.483     180.998
country[T.Uruguay]                        185.5880      2.427     76.480      0.000     180.832     190.344
country[T.Uzbekistan]                     186.2076      5.293     35.183      0.000     175.834     196.581
country[T.Venezuela]                      198.8987      2.542     78.239      0.000     193.916     203.881
country[T.Vietnam]                        202.4396      1.498    135.142      0.000     199.504     205.376
country[T.Zambia]                         185.2302      1.918     96.560      0.000     181.470     188.990
co2                                        41.0785      0.321    127.796      0.000      40.449      41.709
co2:country[T.Algeria]                    -41.0893      0.322   -127.716      0.000     -41.720     -40.459
co2:country[T.Argentina]                  -41.0605      0.322   -127.604      0.000     -41.691     -40.430
co2:country[T.Australia]                  -41.0455      0.321   -127.679      0.000     -41.676     -40.415
co2:country[T.Austria]                    -41.0580      0.331   -123.953      0.000     -41.707     -40.409
co2:country[T.Bahamas]                    -39.2342      1.333    -29.435      0.000     -41.847     -36.622
co2:country[T.Bahrain]                    -41.0490      0.325   -126.138      0.000     -41.687     -40.411
co2:country[T.Bangladesh]                 -40.3868      0.325   -124.446      0.000     -41.023     -39.751
co2:country[T.Barbados]                   -34.8616      1.773    -19.658      0.000     -38.337     -31.386
co2:country[T.Belarus]                    -41.2771      0.341   -121.024      0.000     -41.946     -40.609
co2:country[T.Belgium]                    -41.0657      0.323   -127.274      0.000     -41.698     -40.433
co2:country[T.Belize]                      16.9771      3.694      4.596      0.000       9.737      24.217
co2:country[T.Benin]                      -38.8614      0.366   -106.074      0.000     -39.579     -38.143
co2:country[T.Bermuda]                     -8.5042      7.031     -1.210      0.226     -22.285       5.276
co2:country[T.Bolivia]                    -41.0424      0.328   -125.031      0.000     -41.686     -40.399
co2:country[T.Brazil]                     -41.0615      0.321   -127.740      0.000     -41.692     -40.431
co2:country[T.Bulgaria]                   -43.5503      0.330   -131.985      0.000     -44.197     -42.904
co2:country[T.Burundi]                    116.6613     13.957      8.359      0.000      89.306     144.016
co2:country[T.Canada]                     -41.0799      0.321   -127.787      0.000     -41.710     -40.450
co2:country[T.Central African Republic]  -151.4625     10.764    -14.072      0.000    -172.559    -130.366
co2:country[T.China]                      -41.0785      0.321   -127.796      0.000     -41.709     -40.448
co2:country[T.Colombia]                   -41.0216      0.322   -127.204      0.000     -41.654     -40.390
co2:country[T.Congo]                      -36.6167      0.447    -81.946      0.000     -37.492     -35.741
co2:country[T.Costa Rica]                 -38.6861      0.436    -88.828      0.000     -39.540     -37.832
co2:country[T.Croatia]                    -37.1775      0.355   -104.816      0.000     -37.873     -36.482
co2:country[T.Cuba]                       -40.6591      0.346   -117.581      0.000     -41.337     -39.981
co2:country[T.Cyprus]                     -33.9322      0.614    -55.272      0.000     -35.135     -32.729
co2:country[T.Denmark]                    -41.1118      0.323   -127.315      0.000     -41.745     -40.479
co2:country[T.Dominican Republic]         -37.5979      0.342   -109.958      0.000     -38.268     -36.928
co2:country[T.Egypt]                      -41.0657      0.322   -127.722      0.000     -41.696     -40.436
co2:country[T.Ethiopia]                   -37.8634      0.331   -114.380      0.000     -38.512     -37.215
co2:country[T.Finland]                    -41.0997      0.324   -126.829      0.000     -41.735     -40.465
co2:country[T.France]                     -41.0653      0.322   -127.724      0.000     -41.695     -40.435
co2:country[T.Gabon]                      -42.0531      1.046    -40.197      0.000     -44.104     -40.003
co2:country[T.Gambia]                      58.3804      3.232     18.063      0.000      52.046      64.715
co2:country[T.Georgia]                    -62.6787      0.654    -95.871      0.000     -63.960     -61.397
co2:country[T.Germany]                    -41.4326      0.321   -128.890      0.000     -42.063     -40.803
co2:country[T.Greece]                     -40.3354      0.325   -124.039      0.000     -40.973     -39.698
co2:country[T.Guatemala]                  -37.9214      0.335   -113.037      0.000     -38.579     -37.264
co2:country[T.Guinea]                     -16.8139      0.594    -28.316      0.000     -17.978     -15.650
co2:country[T.Guinea-Bissau]             1257.1338      7.208    174.417      0.000    1243.007    1271.260
co2:country[T.Guyana]                     -67.5786      3.689    -18.320      0.000     -74.808     -60.349
co2:country[T.Haiti]                        8.7199      0.600     14.537      0.000       7.544       9.896
co2:country[T.Honduras]                   -40.6189      0.363   -111.946      0.000     -41.330     -39.908
co2:country[T.Hong Kong]                  -41.0119      0.332   -123.695      0.000     -41.662     -40.362
co2:country[T.Hungary]                    -41.1872      0.326   -126.293      0.000     -41.826     -40.548
co2:country[T.Iceland]                    -39.8731      0.937    -42.571      0.000     -41.709     -38.037
co2:country[T.India]                      -41.0781      0.321   -127.795      0.000     -41.708     -40.448
co2:country[T.Indonesia]                  -40.7999      0.321   -126.925      0.000     -41.430     -40.170
co2:country[T.Ireland]                    -41.0092      0.332   -123.424      0.000     -41.660     -40.358
co2:country[T.Israel]                     -38.2592      0.344   -111.251      0.000     -38.933     -37.585
co2:country[T.Italy]                      -41.0818      0.321   -127.794      0.000     -41.712     -40.452
co2:country[T.Japan]                      -41.0687      0.321   -127.758      0.000     -41.699     -40.439
co2:country[T.Jordan]                     -41.0418      0.332   -123.760      0.000     -41.692     -40.392
co2:country[T.Kazakhstan]                 -41.0709      0.321   -127.748      0.000     -41.701     -40.441
co2:country[T.Kenya]                      -37.2136      0.337   -110.263      0.000     -37.875     -36.552
co2:country[T.Kuwait]                     -41.0949      0.322   -127.585      0.000     -41.726     -40.464
co2:country[T.Kyrgyzstan]                 -40.8745      0.358   -114.174      0.000     -41.576     -40.173
co2:country[T.Laos]                       -41.0841      0.324   -126.778      0.000     -41.719     -40.449

In this model, we use Co2 emissions, countries, and the intersection of Co2 emissions and countries as independent variables. In the summary table, all the p-value of variables are 0.000, which means that Co2 emissions, countries, and the intersection of Co2 emissions and countries all have significant effect on average temperature. Thus, different areas of the planet are affected differently by emission increase